#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainPage {
  flex-grow: 1;
  background-image: url(https://images.pexels.com/photos/3231357/pexels-photo-3231357.jpeg);
}

.footer {
  background-color: #646464;
  font-weight: bold;
  color: beige;
}
