#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgb(216, 216, 228);
  background: linear-gradient(
    156deg,
    rgba(216, 216, 228, 0.989233193277311) 7%,
    rgba(196, 214, 218, 1) 100%
  );
}

.mainPage {
  flex-grow: 1;
}

.footer {
  background-color: #646464;
  font-weight: bold;
  color: beige;
}
